.topListStyle {
  color: rgba(42,82,66);
  margin-bottom: '20px';
}

.card {
  margin-bottom: 100px;
  box-shadow: 0 0 10px 0px black;
  width: 80%;
  border: none;

}

.topList {
  color: rgba(42,82,66);
  margin-bottom: 20px;
}

